.body{
  box-sizing: border-box;
}

.big-box {
    width:1366px;
    height:960px;
    background-color:#f9f9f9;
    float:none;}


.box {

width: 1060px;
height: 960px;
background-color:white;
margin-left:154px;
}



  .logo {
    padding-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    }

  ul{
    list-style: none;
  }

  a{
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
  }

  .main-menu{
    background-image: url(fon.jpg) ;
    margin: 20px 40px;

  }
  .main-menu li{
    display: inline-block;
  }

  .main-menu a{
  color: white;
  display: block;
  padding: 8px 14px;}

  .main-menu a:hover{
  background-image: url(fon2.jpg);
  border-right: 1px solid #838383;
}

  .left-menu{
    float:left;
    height: 240px;
   }

  .left-menu a {
    box-sizing: border-box;
    display: block;
    width:200px;
    height:40px;
    margin-right: 60px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom: 10px;
    color: #656363;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    }
  .left-menu a:hover{
    background-color: #f9f9f9;
  }

  .article  {
      width: 678px;
      margin-top: 15px;
      margin-bottom: 20px;
      margin-left: auto;
      font-family: 'Open Sans',sans-serif;
      font-size: 14px;
      text-align:justify;
      float: left;

  }

  .article img{
    width: auto;
    margin-bottom: 20px;
    clear:both;

  }

.footer {
  clear:both;
  background-color: #e1e1e1;
  margin-top: 540px;

  margin-left: 45px;
  margin-right: 45px;


}

.footer li{
  display: inline-block;
}

.footer a{
  display: block;
  box-sizing: border-box;
  width:100px;
  height:40px;
  margin-right: 10px;
  padding-left:20px;
  padding-top:10px;
  padding-bottom: 10px;
  color: #656363;
  font-size: 12px;
  }

.footer a:hover{
  text-decoration: underline;
}

.rights{
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  margin-left: 270px;

}
}
