* {
    margin: 0;
    padding: 0;
}

body {
    background: url(fon.png);
    font-family: Tahoma;
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.wrapper {

    height: auto;
    position: relative;
    top: 4px;
    display: block;
    box-shadow: 0 5px 5px #575757;
    background-color: #fff;

}

.header {
    height: 180px;
    width: auto;
    margin: 0 auto;
}

.logo {
    float: left;
}

.contacts {
    float: right;
    color: #128aa7;
    font-size: 12px;
    line-height: 1.5;
    position: absolute;
    top: 10px;
    right: 60px;
}

.contries {
    float: right;
    position: absolute;
    top: 100px;
    right: 50px;
}


/*.contries img {
       float:right;
     }*/

.contries a {
    box-sizing: border-box;
    display: inline-block;
    font-size: 9px;
    text-align: center;
    width: 65px;
    color: #128aa7;
}

.big-picture img {
    border-right: 1px solid #128aa7;
}

.menu {
    background-color: #303030;
    display: block;
    padding-left: 60px;
    text-align: center;
    list-style: none;
    position: relative;
    top:-5px;
    box-shadow: 0 3px 5px #575757;
}

ul::after {
    display: block;
    content: '';
    clear: both;
}

ul.menu>li {
    float: left;
    margin-right: 35px;
    position: relative;
}

ul.menu>li>a {
    display: block;
    padding: 10px;
    padding-right: 10px;
    margin: auto;
    color: white;
    font-size: 14px;
    background-color: #303030;
    text-decoration: none;
}


/*ul.menu> li> a:last-child::after{
    content:none;
  }*/

ul.menu>li>a:hover {
    background-color: #3b3b3b;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 35px;
    left: 0;
    padding-left: 0;
    background-color: #303030;
    box-shadow: 0 3px 7px #575757;
}

ul.submenu>li {
    display: block;
}

ul.submenu>li>a {
    display: block;
    padding: 10px;
    padding-right: 25px;
    /*margin-right: -10px;*/
    font-size: 12px;
    color: white;
    background-color: #303030;
    text-decoration: none;
}

ul.submenu>li>a:hover {
    text-decoration: underline;
}

ul.menu>li:hover>ul.submenu {
    display: block;
}

.content {
    display: flex;
    width: 1000px;
    height: auto;
    overflow: hidden;
}

.title {
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.left-column {

    flex: 1;
    color: #424c43;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    border-right: 1px solid #c7cacf;
    background-color: #edeef0;
}

.bloks {
    padding: 5px 10px;
    /*border-bottom: 1px solid #c7cacf;*/
}

.center-column {
    flex-direction: column;
    flex: 3;
    background-color: white;
}

.right-column {
    flex: 1;
    font-size: 14px;
    text-align: justify;
    color: #424c43;
    line-height: 1.5;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;

}

.footer {
    text-align: center;
    margin: 15px auto;
    font-size: 10px;
    color: #ffffff;
    /*padding: 0 5px;*/
}
